{#
/**
 * @file
 * Amenidades Component (Organism)
 * Displays amenidades with icons in a responsive grid layout
 *
 * Available variables:
 * - title: Main title (string)
 * - amenidades_items: Array of service objects
 *   Each item contains:
 *   - icon: Phosphor icon name (e.g., 'calendar-blank', 'users-three')
 *   - title: Service title
 *   - description: Service description
 * - amenidades_modifiers: Array of BEM modifiers
 * - amenidades_blockname: BEM blockname
 * - amenidades_base_class: Base class (default: 'amenidades')
 *
 * Dependencies:
 * - Phosphor Icons (ph-light family)
 * - Bootstrap grid system
 */
#}

{% set amenidades_base_class = amenidades_base_class|default('amenidades') %}

<section {{ bem(amenidades_base_class, amenidades_modifiers, amenidades_blockname, ['section-margin']) }}>
  <div class="container">

    {# Main Title #}
    {% if title %}
      {% include "@atoms/text/headings/_heading.twig" with {
        heading_level: 3,
        heading: title,
        heading_base_class: 'amenidades__title',
      } only %}
    {% endif %}

    {# Description #}
    {% if description %}
      {% include "@atoms/text/text/01-paragraph.twig" with {
        paragraph_content: description,
        paragraph_base_class: 'servicios_extra__description',
      } %}
    {% endif %}
   
    {# Services Grid #}
    <div class="row {{ amenidades_base_class }}__grid">
      {% for item in amenidades_items %}
        <div class="col-12 col-md-6 col-lg-3 {{ amenidades_base_class }}__item">

          {# Icon Wrapper with Plus Badge #}
          <div class="{{ amenidades_base_class }}__icon-wrapper">

            <div class="{{ amenidades_base_class }}__icon-dinamic" title="{{ item.title }}" aria-hidden="true">
              {{ item.icon }}
            </div>

            <span class="{{ amenidades_base_class }}__icon-plus" aria-hidden="true"></span>
            
          </div>
          
          {# Service Info #}
          <div class="{{ amenidades_base_class }}__info">
            {% if item.title %}
              {% include "@atoms/text/text/01-paragraph.twig" with {
                paragraph_content: item.title,
                paragraph_base_class: 'amenidades__title-item',
              } %}
            {% endif %}

            {% if item.description %}
              <span class="{{ amenidades_base_class }}__description-item">
                {{ item.description }}
              </span>
            {% endif %}
          </div>

        </div>
      {% endfor %}
    </div>

  </div>
</section>