{#
  Props:
  - title: string
  - url: string|null
  - image: { src: string, alt: string }|null
  - is_disabled: bool
  - is_hover: bool (solo Storybook)
  - modifier: string|null
#}

{% set base = 'card-blue' %}

{% if card__url %}
	<a href="{{ card__url }}">
{% endif %}
	<div class="{{base}}">
		<div class="{{ base }}__media">
			{% if image and image.src %}
				<img class="{{ base }}__img" src="{{ image.src }}" alt="{{ image.alt|default(title) }}" loading="lazy"/>
			{% endif %}
		</div>

		<div class="{{ base }}__overlay">
			<h3 class="{{ base }}__title">
				{{ title }}
			</h3>
		</div>
	</div>
{% if card__url %}
	</a>
{% endif %}