{#
  Props:
  - title: string
  - items: array[
      {
        title: string,
        url: string|null,
        image: { src: string, alt: string }|null,
        is_disabled: bool|null
      }
    ]
  - modifier: string|null
#}

{% set base = 'programas-artisticos' %}

<div class="{{base}}">
  <div class="{{ base }}__inner">
    {% if title %}
      <h2 class="{{ base }}__title">{{ title }}</h2>
    {% endif %}

    <div class="{{ base }}__grid" role="list">
      {% for item in items %}
          {% include "@molecules/card-blue/card-blue.twig" with {
            title: item.title,
            url: item.url,
            image: item.image,
            is_disabled: item.is_disabled|default(false),
          } %}
      {% endfor %}
    </div>
  </div>
</div>
