{{ attach_library('tpms/splide') }}
<div id="main-slider" class="splide">
	<div class="splide__track">
		<ul class="splide__list">
			{% for item in items %}
				<li class="splide__slide">
					<img src="{{ item.image.url }}" alt="{{ item.image.alt }}">
					<div class="category">
						<a href="{{url}}?institucion=&tipo_de_institucion%5B{{item.term_id}}%5D={{item.term_id}}">
							<h3>{{item.category}}
								<span class="icon-wrapper">
									<svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="arrow-icon">
										<path d="M12.6309 13.62L15.0721 4.50922C15.1138 4.33864 15.1215 4.16149 15.0946 3.98794C15.0478 3.63999 14.8656 3.32453 14.5877 3.10999C14.4509 2.99993 14.2936 2.91798 14.125 2.86883L5.01422 0.427601C4.84432 0.382078 4.66713 0.370464 4.49274 0.393422C4.31836 0.41638 4.1502 0.473461 3.99788 0.561405C3.69025 0.739017 3.46577 1.03156 3.37383 1.37468C3.28189 1.7178 3.33002 2.08339 3.50763 2.39102C3.68525 2.69865 3.97779 2.92313 4.32091 3.01507L10.3274 4.61473L1.55937 9.67693C1.25299 9.85382 1.02943 10.1452 0.937868 10.4869C0.846304 10.8286 0.894239 11.1927 1.07113 11.4991C1.24801 11.8055 1.53937 12.029 1.88109 12.1206C2.22281 12.2122 2.58691 12.1642 2.89329 11.9873L11.6613 6.92513L10.0434 12.9267C9.99712 13.0966 9.98495 13.274 10.0076 13.4486C10.0302 13.6233 10.0872 13.7917 10.1752 13.9442C10.2633 14.0967 10.3806 14.2303 10.5206 14.3372C10.6605 14.4441 10.8202 14.5222 10.9905 14.5671C11.1604 14.6134 11.3378 14.6255 11.5124 14.6029C11.687 14.5803 11.8555 14.5233 12.008 14.4353C12.1605 14.3472 12.294 14.2299 12.4009 14.0899C12.5078 13.95 12.586 13.7903 12.6309 13.62Z" fill="currentColor"/>
									</svg>
								</span>
							</h3>
						</a>
					</div>
				</li>
			{% endfor %}

		</ul>
	</div>
</div>
