{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{attributes.addClass(classes, 'container section-margin view-max-1078')}}>
	{% if term_name or header %}
		<div class="table-header">
			{% if term_name %}
				<h2 class="term-name">{{ term_name }}</h2>
			{% endif %}

			{% if header %}
				<header>
					{{ header }}
				</header>
			{% endif %}
		</div>
	{% endif %}

	{{ exposed }}
	{{ attachment_before }}

	{% if rows -%}
		{{ rows }}
	{% elseif empty -%}
		{{ empty }}
	{% endif %}
	{{ pager }}

	{{ attachment_after }}
	{{ more }}

	{% if footer %}
		<footer>
			{{ footer }}
		</footer>
	{% endif %}

	{{ feed_icons }}
</div>